{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block body %}
<div class="container">
    <div class="alert alert-info">
        <form action="" method="post" enctype="multipart/form-data">
            <label for="pasword">Password:</label>
            <input class="form-control" type="password" name='password' id="password" placeholder="Recomended from 8 to 20" required>
            <label for="pasw">Retype password:</label>
            <input class="form-control" type="password" name='passw' placeholder="Password again">
            <button type="submit" class="btn btn-primary">Reset</button>
            
        </form>
    </div>
</div>
{% endblock %}
