{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ user.username }}</h1>
    <p>(ID: {{ user.id }})</p>

    <div class="alert alert-info">
        <h1>Your posts</h1>
        {% if posts %}
            {% for post in posts %}
                <div class="alert alert-primary">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.text }}</p>
                    <a href="/post/{{post.id}}" class="btn btn-success">Look</a>
                    <a href="/post/{{post.id}}/edit" class="btn btn-warning">Edit</a>
                </div>
            {% endfor %}
        {% else %}
                <h1>{{posts}}</h1>
        {% endif %}
    </div>
</div>
{% endblock %}