{% extends 'base.html' %}

{% block header %}New post{% endblock %}

{% block body %}
<div class="container">
    <div class="alert alert-light">
        <h1>New post</h1>
        <div class="container">
            <form action="" method="post">
                <div class="row mb-3">
                    <label for="cats" class="col-sm-1 col-form-label">Category</label>
                    <div class="col-sm-10">
                        <select class="form-select" id="cats" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            {% for c in cats %}
                            <option value="{{c.id}}">{{c.name}}</option>
                            {% endfor %}
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="title" class="col-sm-1 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="text" class="col-sm-1 col-form-label">Text</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="text" id="text" cols="30" rows="5"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="btns" class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-10">
                        <button class="btn btn-primary" type="submit" id="btns">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
