{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="url_for('static', filename='css/index.css')">
<script src="url_for('static', filename='js/jquery-3.6.0.js')"></script>
<script src="url_for('static', filename='js/base.js')"></script>
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <h1>main</h1>
    <a href="/post/add" class="btn btn-success" id="btn">Create</a>
    {% if result %}
        {% for r in result %}
            <div class="alert alert-info">
                <h1>{{r.title}}</h1>
                <p>{{r.text}}</p>
                <a href="/post/{{r.id}}" class='btn btn-success'>Look</a>
                <!-- /post/{{r.id}} -->
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info">
            <h1>none</h1>
        </div>
    {% endif %}
</div>
{% endblock %}