<!-- {% import 'main/helpers/macro.html' as pagination%} -->

{% extends 'base.html' %}

{% block header %}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    {% for post in posts %}
    <div class="card w-100">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>

            {% if post.text|length > 30 %}
                <p class="card-text">{{ post.text|truncate(30, False, '...', 0)  }}</p>

            {% else %}

                <p class="card-text">{{ post.text }}</p>
            {% endif %}

            <a href="/post/{{post.id}}" class="stretched-link"></a>
        </div>
    </div>
    <br>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                {% if pages.has_prev %}
                <a class="page-link" href="{{url_for('main.index', page=pages.prev_num)}}">Previous</a>
                {% endif %}
            </li>
            {% for page in pages.iter_pages() %}
            <li class="page-item"><a class="page-link" href="{{url_for('main.index', page=page)}}">{{page}}</a></li>
            {% endfor %}
            <li class="page-item">
                {% if pages.has_next %}
                <a class="page-link" href="{{url_for('main.index', page=pages.next_num)}}">Next</a>
                {% endif %}
            </li>
        </ul>
    </nav>

</div>
<!-- <script src="{{ url_for }}"></script> -->



{% endblock %}